:root {
  --bg-red-primary: #b71c1c;
  --bg-red-dark: #7f0000;
  --bg-red-light: #f05545;

  --bg-cyan-primary: #004c5f;
  --bg-cyan-dark: #003644;
  --bg-cyan-light: #006c86;

  --bg-diffuse-black: rgba(0, 0, 0, 0.315);

  --bg-green-primary: #4caf50;
  --bg-green-dark: #087f23;
  --bg-green-light: #80e27e;

  --bg-blue-primary: #2196f3;
  --bg-blue-dark: #0069c0;
  --bg-blue-light: #6ec6ff;

  --bg-bluegray-primary: #757575;
  --bg-bluegray-dark: #313131;
  --bg-bluegray-light: #a7a7a7;
}

/* Formulario registrar y login */
.bg-fade,
.login-fade,
.home-page {
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  background: linear-gradient(to right, var(--bg-cyan-primary), var(--bg-red-primary));
}

.text {
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 2px solid var(--bg-blue-primary);
  padding: 10px 10px;
  width: auto;
  outline: none;
  color: var(--bg-bluegray-primary);
  border-radius: 24px;
  transition: 0.5s;
}
.text:focus {
  width: 80%;
  border-color: var(--bg-green-primary);
}

.file-select {
  position: relative;
  display: inline-block;
}
.file-select::before {
  outline: none;
  background: none;
  border: 2px solid var(--bg-blue-primary);
  border-radius: 24px;
  color: var(--bg-bluegray-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.file-select input[type="file"] {
  opacity: 0;
  width: 190px;
  padding: 10px 10px;
  display: inline-block;
}
#src-file1::before {
  content: "Seleccionar Foto";
}

.registro-page,
.login-page {
  box-shadow: 0em 0em 3em 0.1em rgba(0, 0, 0, 0.336);
  border-radius: 20px;
  padding-top: 2%;
  padding-bottom: 2%;
}
/* Buttons */
.btn-registro,
.btn-login {
  background: none;
  border: 2px solid var(--bg-green-primary);
  padding: 3px 10px 3px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.btn-registro:hover,
.btn-login:hover {
  background: var(--bg-green-primary);
}
.btn-bluegray {
  background: var(--bg-bluegray-primary);
  padding: 3px 10px 3px;
  color: white;
  border: 2px solid var(--bg-bluegray-dark);
  border-radius: 24px;
  outline: none;
  transition: 0.25s;
  cursor: pointer;
}
.btn-bluegray:hover {
  background: var(--bg-bluegray-dark);
  color: white;
}
.btn-green {
  background: var(--bg-green-primary);
  padding: 3px 10px 3px;
  color: white;
  border: 2px solid var(--bg-green-dark);
  border-radius: 24px;
  outline: none;
  transition: 0.25s;
  cursor: pointer;
}
.btn-green:hover {
  background: var(--bg-green-dark);
  color: white;
}
.btn-red {
  background: var(--bg-red-primary);
  padding: 3px 10px 3px;
  color: white;
  border: 2px solid var(--bg-red-dark);
  border-radius: 24px;
  outline: none;
  transition: 0.25s;
  cursor: pointer;
}
.btn-red:hover {
  background: var(--bg-red-dark);
  color: white;
}
.btn-close {
  font-size: 3vw;
}

.bg-diffuse {
  background: var(--bg-diffuse-black);
}

.toast {
  animation-duration: 1s;
  animation-name: slidein;
}
.toast-header {
  background: var(--bg-green-primary);
  color: white;
}
@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}
hr {
  margin: -10px 0px 7px;
}

@media (max-height: 900px) {
  .registro-page {
    height: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .registro-page .password,
  .registro-page .text {
    font-size: 100%;
  }
  #src-file1 {
    font-size: 100%;
  }
}
@media (max-height: 700px) {
  .registro-page {
    height: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .registro-page .password,
  .registro-page .text {
    font-size: 100%;
  }
  #src-file1 {
    font-size: 100%;
  }
}
@media (max-width: 767px) {
  .bg-fade {
    height: 1100px;
  }
  .registro-page {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .icon-notification {
    font-size: 10vw;
  }
}

@media (min-width: 1080px) {
  .icon-notification {
    font-size: 4vw;
  }
}

/* offcanvas */
.offcanvas {
  color: white;
  transition: 0.5s;
  width: 70%;
}
.offcanvas .offcanvas-header {
  font-size: 9vw;
  margin: 0;
  padding-left: 3%;
  padding-bottom: 0;
}
.offcanvas .nav-item,
.offcanvas .nav-link {
  color: white;
  display: flex;
  justify-items: center;
  font-size: 5vw;
}
.icon-menu {
  font-size: 8vw;
}

.text-danger {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--bg-red-primary);
  font-size: 11px;
}

/* estilos para vista admin */
#admin-body {
  overflow: hidden;
  font-weight: 300;
  color: white;
}
.slidebar-container {
  min-height: 100vh;
  padding: 1%;
}
.slidebar-container .slidebar-title {
  padding: 0.875rem 1.25rem;
}
.slidebar-container .sildebar-menu {
  width: 18rem;
}
.content {
  overflow: auto;
  height: 100vh;
  padding-bottom: 5rem;
  color: black;
}
a {
  text-decoration: none;
}
.nav-a {
  color: white;
}
.nav-a:hover {
  color: var(--bg-bluegray-primary);
}
@media (max-width: 767px) {
  .slidebar-container {
    display: none;
    transition: 2s;
  }
  .icon-dashboard {
    font-size: 20vw;
  }
}

@media (min-width: 768px) {
  .icon-dashboard {
    font-size: 8vw;
  }
}
